<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Admission Form
  </h1>
  
  <form>
    <div class="form-group">
      <label>Student Name</label>
      <input id="name" type="text" class="form-control">
    </div>
  
    <div class="form-group">
      <label>Address</label>
      <textarea id="address" cols="30" rows="8" class="form-control"></textarea>
    </div>
  
    <div class="form-group">
      <label>Gender</label>
      <input id="gender" type="text" class="form-control">
    </div>
  
    <div class="form-group">
      <label>Mobile No</label>
      <input id="mobNo" type="text" class="form-control">
    </div>
  
    <div class="form-group">
      <label>College Name</label>
      <input id="colName" type="text" class="form-control">
    </div>
  
    <div class="form-group">
      <label>Email ID: </label>
      <input id="emailId" type="text" class="form-control">
    </div>
  
    <div class="form-group">
      <label>Batch Name</label>
      <input id="batchName" type="text" class="form-control">
    </div>
  </form>
</div>


